@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* daun bergerak */
@layer utilities {
  @keyframes sway-wind {
    0%, 100% { transform: rotate(-2deg) scaleX(-1); }
    50% { transform: rotate(4deg) scaleX(-1); }
  }

  .animate-wind {
    animation: sway-wind 5s ease-in-out infinite;
  }
}

/* --- Animasi Besar-Kecil untuk Elemen Biasa --- */
@keyframes bounceScale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08); /* Membesar 8% */
  }
}

/* --- Animasi Besar-Kecil KHUSUS Elemen Tengah --- */
/* Kita harus menyertakan translateX(-50%) agar posisi tengahnya tidak rusak */
@keyframes bounceScaleCenter {
  0%, 100% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.08);
  }
}

/* --- Class Utility untuk dipanggil di Komponen --- */
.animate-custom-pulse {
  animation: bounceScale 3s ease-in-out infinite;
}

.animate-custom-pulse-center {
  animation: bounceScaleCenter 3s ease-in-out infinite;
}